node_modules
.next
.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.json
!package.json
!tsconfig.json
!next.lock
.env.vercel.production
.env.example

# OS / editor junk
.DS_Store
docs/DB_FULL_DUMP.json
docs/firestore_exports/
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
dist
coverage
tsconfig.tsbuildinfo

.vercel
