node_modules
.next
.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
dist
coverage
tsconfig.tsbuildinfo

.vercel
